<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-content">
            <div class="center-align">
                <h5 class="center-align">
                    CLINICA DE MEDICOS ESPECIALISTAS DE OAXACA
                </h5>
                <h6 class="center-align">
                    "Especialistas de Calidad"
                </h6>
                <p class="center-align">
                    C. Macedonio Alcalá 305 · 951 516 6903
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                    <p class="col s4"><%=doctor%></p>
                    <p class="col s4">Especialidad: <%=especialidad%></p>
                    <p class="col s4">Cedula:<%=cedula%></p>

            </div>
            
        </div>
        <div class="row">
            <div class="input-field">
                <p class="col s4">Paciente: <%=paciente%></p>
                <p class="col s3">Fecha: <%=fecha%></p>
                <p class="col s5">Motivo: <%=motivo%></p>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <p class="col s4">Edad: <%=edad%></p>
                <p class="col s4">Peso: <%=peso%></p>
                <p class="col s4">Altura: <%=altura%></p>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <p class="flow-text">Diagnostico:<%=diagnostico%></p>
                
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <p class="flow-text">Indicaciones:<%=indicaciones%></p>
                
            </div>
        </div>
    </div>
</body>
</html>