<div class="card mx-basic my-basic">
    <div class="row">
        <div class="input-field col 5 offset-5">
            <p>Fecha:</p>
        </div>
        <div class="input-field col 5 offset-5">
            <input type="text" class="blue lighten-5 datepicker" id="fecha-agenda">
        </div>
        <div class="input-field col 5 offset-5">
            <button type="button" class="waves-effect blue darken-1 btn" id="buscar-agenda">Ver Agenda</button>
        </div>    
        <table>
            <thead>
                <th>Hora</th>
                <th>Paciente</th>
                <th>Motivo</th>
            </thead>
            <tbody id="tablabody">
                
            </tbody>
        </table>
    </div>

</div>
<%- include("modal-historial-citas.ejs")  -%>
<%- include("modal-receta.ejs")  -%>
<%- include("form-modal-receta.ejs")  -%>
<%- include("../comunes/modal-registro.ejs")  -%>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
        var fechaActual = new Date();
        var fechaMaxima = new Date();
        fechaMaxima = new Date().setDate(fechaActual.getDate()+365);
        console.log(fechaMaxima);
        console.log(fechaActual);

    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems,{
        format:"yyyy-mm-dd",
        disableWeekends:true,
        
    });
    
    //const persona = record;
    //idPersona,idDoctor,fecha,hora,motivo,estado
  });
</script>

<script>
    var OBJdoctor = '<%- JSON.stringify(record) %>'
 </script>
 
 <script src="/assets/js/http.js"></script>
 <script src="/assets/js/main-agenda-doctor.js"></script>
 